*{
    margin: 0;
    padding: 0;
    
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  font-family:sans-serif;
  background-image: url("photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
}
nav{
  background-color: rgb(1, 1, 27,0.5);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 70px;
}

nav a{
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color:white;
}
nav li:first-child{
  margin-right:auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right:0;
  z-index: 9999;
  height: 100vh;
  width:250px;
  backdrop-filter: blur(10px);
  display:none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.158);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-button{
  display:none;
}
.C-Name{
  color:#8ECAE6;
  font-weight: bold;
  font-size: 30px;
}
nav a:hover{
  color:#8ECAE6;
  transition: ease-in;
  transition-duration: 0.3s;
}
.search-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height:25px;
  }
.search-msg{
  color:white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  
}
.search-text{
  color:white;
  font-size: 20px;
}
h1{
  margin-top:30px;
  color: #8ECAE6;
  text-align: center;
  font-weight: bold;
  
}
.search-icon{
  border: none;
  border-radius: 25px;
  background-color: transparent;
}
.search-icon:hover{
  transform:translatey(-2px);
  transition: ease-in;
  transition-duration: 0.3s;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-around;
  color:#219EBC;
}
.card:hover{
  transform:translateY(-7px);
  transition: ease-in;
  transition-duration: 0.3s;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #023047;
  color:#219EBC;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}
.weekly-container{
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: space-around;
  color:#219EBC;
}
.about{
  color:#023047;
  text-align: center;
  font-size: medium;
  margin: 10px;
  padding: 10px;
}
.contact {
  text-decoration: none;
  color:#023047;
  font-size: medium;
  
}
.contacts{
  text-decoration: none;
  color:#023047;
  
}
.footer{
  position: relative;
}
.btt{
  bottom: 10px;
  right: 20px;
  background-color: #023047;
  color: #8ECAE6;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.backtotop{
  text-decoration: none;
  color: #8ECAE6;
}
.weather-icon{
  width:100%;
}

@media(max-width: 600px){
  .hideonmobile{
    display:none;
  }
  .menu-button{
    display: block;
  }

}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
  .menu-button{
    display: block;
  }
}
